body {
    background-color: #eaf2e3;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    .centrado {
        text-align: center;
        font-weight: bold;
        font-style: italic;
    }
    .mi-division {
        background-color: #d0e8d0;
        padding: 20px;
        border: 1px solid #ccc;
        margin: 20px;
    }
    header {
    background-color: #69bd45;
    color: #000;
    text-align: center;
    padding: 20px;
    }
    section {
    padding: 20px;}
    footer {
    background-color: #4caf50;
    color: #fff;
    padding: 20px 0; }
    .footer-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center; }
    nav {
        background-color: white;
        padding: 10px 0;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    nav ul li {
        display: inline;
        margin: 0 15px;
    }
    
    nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    
    nav ul li a:hover {
        text-decoration: underline;
    }
    img {
        display: block; 
        margin: 0 auto; 
        max-width: 100%;
        border: 3px solid #69bd45;
        border-radius: 10px;
    }
    h1 {
        color: black;

    